$(document).ready(function() {
    $("#submit_comment").on("click", function () {
        var content = $("#content_comment").val()
        var data = {
            content: content,
            new_id: <%= @newdetail.id %>
        }

        if (content) {
          $.post( "<%= comments_path %>", data, function( data ) {
            var avatar = data.user.avatar.url || "avatar_default.png"
            if (data.status == 200) {
              var div = "<div class='row comment-user'>"
              div += "<div class='col-lg-1 style-avatar'> <a href='javascript:void(0)'>"
              div += "<img class='img-responsive user-photo' src='"+ avatar + "'> </a> </div>"
              div += "<div class='col-lg-11 name_author' data-id='" + data.new_comment.id+ "'>"
              div += "<h4 class='media-heading'>"+ data.user.name
              div += "<span><i class='fa fa-trash' aria-hidden='true'></i></span>"
              div += "<span><i class='fa fa-pencil' aria-hidden='true'></i></span> </h4>"
              div += "<p class='content_comment'>" + data.new_comment.content + "</p> </div></div>"
            $('#container_comment').prepend(div)
              $('#content_comment').val("")
              $('#container_comment>.row').eq(5).remove()
            }
            if (data.status == 404) {
              alert ("<%= t 'comments.alert_fail' %>")
            }
          });
        } else {
          alert("<%= t 'comments.alert' %>")
        }
    })
})
