<li>
  <div class="ccr-thumbnail">
    <img src="assets/<%= new.represent_image %>" alt="thumbnail-small-1.jpg">
    <p><%= link_to t(".read_more"), new %></p>
  </div>
  <h5><%= link_to new.title[0..30] + "...", new %></h5>
</li>
