<header id="ccr-header">
  <section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
        <nav class="top-menu">
          <ul class="left-top-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>

          <ul class="right-top-menu pull-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Subscribe</a></li>
            <li>
              <form class="form-inline" role="form" action="#">
                <input type="search" placeholder="Search here..." required>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <section id="ccr-site-title">
    <div class="container">
      <div class="site-logo">
        <a href="index.html" class="navbar-brand">
          <img src="assets/img/logo.png" alt="Side Logo" />
          <h1>Daily <span>News</span></h1>
          <h3>The Daily News Source</h3>
        </a>
      </div>

      <div class="add-space">
        728 x 90 px Banner
      </div>

    </div>
  </section>

  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><a class="active" href="index.html">Home</a></li>
            <li class="dropdown">
              <a href="#">Blog <i class="fa fa-caret-down"></i></a>
              <ul class="sub-menu">
                <li><a href="blog.html">Blog 1</a></li>
                <li><a href="blog-2.html">Blog 2</a></li>
                <li><a href="blog-3.html">Blog 3</a></li>
              </ul>
            </li>
            <li><a href="single.html">Single</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li class="dropdown"><a href="#">Category <i class="fa fa-caret-down"></i></a>
              <ul class="sub-menu">
                <li><a href="category-1.html">Category 1</a></li>
                <li><a href="category-2.html">Category 2</a></li>
                <li><a href="#">More <i class="fa fa-caret-right"></i></a>
                  <ul class="sub-menu-2">
                    <li><a href="#">Demo Link 1</a></li>
                    <li><a href="#">Demo Link 2</a></li>

                    <li><a href="#">More <i class="fa fa-caret-right"></i></a>
                      <ul class="sub-menu-3">
                        <li><a href="#">Demo Link 1</a></li>
                        <li><a href="#">Demo Link 2</a></li>
                        <li><a href="#">Demo Link 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Demo Link 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="404.html">404</a></li>
          </ul>
        </div>

        <div id="currentTime" class="pull-right current-time">
          <i class="fa fa-clock-o"></i> 12:10 pm
        </div>

      </div>
    </nav>
  </section>

  <section id="ccr-nav-below-main">
    <nav class="second-menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse ccr-nav-below-main">
          <ul class="nav navbar-nav">
            <li><a href="#">Europe</a></li>
            <li><a href="#">USA</a></li>
            <li><a href="#">Middle East</a></li>
            <li><a href="#">Social and IT</a></li>
            <li><a href="#">Culture</a></li>
          </ul>
        </div>

        <div class="ccr-language">
          <ul>
            <li>Language:</li>
            <li><a href="#"><img src="assets/img/uk.png" alt="UK">English</a></li>
            <li><a href="#"><img src="assets/img/france.png" alt="France">France</a></li>
            <li>
              <a href="#"><img src="assets/img/garman.png" alt="Garman">Garman</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
</header>
